.col-title{
     background-color: #135d54;
     border: solid 1px #fff;
     color: #fff;
     text-align: center;
     width:33%
}
.col-info{
     border: solid 1px rgb(100,100,100);
     width:33%
}
.select-custom{
     font-family:Arial;
     

}